<%- include('partials/header'); -%>
<body>
    <%- include('partials/navbar'); -%>     
    <div class="container">        
        <form id='dados' onsubmit="enviarsubmit(); return false;">         
        <label for="story">Propriedades 1 articles </label>
        <div class="row">  
        <div class="form-group col-md-2">
      <label ="edtid">id</label>
      <input CLASS="form-control" ID="edtid"  name="id" data-fieldname="id" data-type="int" placeholder="id"  value="id" TYPE="text" data-gravar=1> 		          
      </div><div class="form-group col-md-2">
      <label ="edttitle">title</label>
      <input CLASS="form-control" ID="edttitle"  name="title" data-fieldname="title" data-type="varchar(255)" placeholder="title"  value="title" TYPE="text" data-gravar=1> 		          
      </div><div class="form-group col-md-2">
      <label ="edtslug">slug</label>
      <input CLASS="form-control" ID="edtslug"  name="slug" data-fieldname="slug" data-type="varchar(255)" placeholder="slug"  value="slug" TYPE="text" data-gravar=1> 		          
      </div><div class="form-group col-md-2">
      <label ="edtbody">body</label>
      <input CLASS="form-control" ID="edtbody"  name="body" data-fieldname="body" data-type="text" placeholder="body"  value="body" TYPE="text" data-gravar=1> 		          
      </div><div class="form-group col-md-2">
      <label ="edtcreatedAt">createdAt</label>
      <input CLASS="form-control" ID="edtcreatedAt"  name="createdAt" data-fieldname="createdAt" data-type="datetime" placeholder="createdAt"  value="createdAt" TYPE="text" data-gravar=1> 		          
      </div><div class="form-group col-md-2">
      <label ="edtupdatedAt">updatedAt</label>
      <input CLASS="form-control" ID="edtupdatedAt"  name="updatedAt" data-fieldname="updatedAt" data-type="datetime" placeholder="updatedAt"  value="updatedAt" TYPE="text" data-gravar=1> 		          
      </div><div class="form-group col-md-2">
      <label ="edtcategoryId">categoryId</label>
      <input CLASS="form-control" ID="edtcategoryId"  name="categoryId" data-fieldname="categoryId" data-type="int" placeholder="categoryId"  value="categoryId" TYPE="text" data-gravar=1> 		          
      </div>            
        <button class="btn btn-success">Salvar</button>        
        </div>
        </form>            
    </div>
    <script>    
      function enviarsubmit()     
      {    
          var data =  document.querySelectorAll('input[type=text]');        
          var jJSON={inputs:[]}          
          for (i=0;i<data.length;i++)
          {
            var str=data[i];                        
            jJSON.inputs.push({
                  "id"   : str.id,
                  "valor": document.querySelector('[id="'+str.id+'"]').value,
                  "type" : str.type,
                  "fieldname":str.getAttribute('data-fieldname'),
                  "gravar" :str.getAttribute('data-gravar')
                })            
          }                   
          console.log(jJSON);                              
          axios.post('/articles', jJSON)          
          .then(req=>{ 'console.log(req)'  })
          .catch(error => {console.log(error)})  
      }                    

    </script>
</body>
<%- include('partials/footer'); -%>